
.index-banner {
    margin: 15px auto;
    width: 100%;
    min-width: 1200px;
    height: 305px;
    position: relative;
    overflow: hidden;
}

.index-banner .bd {
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

.index-banner .pic {
    overflow: hidden;
    height: 305px;
    background-color: #363535;
    margin: 0px;
    padding: 0px;
}

.index-banner .pic li {
    height: 305px;
    width: 1200px;
    overflow: hidden;
}

.index-banner .pic li img {
    display: block;
    height: 305px;
    width: 1200px;
}

.index-banner .tempWrap {
    overflow: visible !important
}

.index-banner .tempWrap ul {
    margin-left: -1200px !important;
}

.index-banner .num {
    bottom: 10px;
    position: absolute;
    z-index: 3;
    right: 50%;
    margin-right: -50px;
}

.index-banner .num li {
    width: 17px;
    height: 13px;
    position: relative;
    float: left;
    margin: 0 4px;
    cursor: pointer;
    border-bottom: 3px solid #d7d7d7;
    text-indent: -10em;
    overflow: hidden;
}

.index-banner .num .on {
    border-bottom: 3px solid #eb5e01;
}

.index-banner .pnBtn {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 305px;
    cursor: pointer;
}

.index-banner .prev {
    left: -50%;
    margin-left: -600px;
}

.index-banner .next {
    left: 50%;
    margin-left: 600px;
}

.index-banner .pnBtn .blackBg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 305px;
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.index-banner .pnBtn .arrow:hover {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.index-banner .prev .arrow {
    display: none;
    position: absolute;
    background: url(../images/indexhome-8.png) no-repeat 0 0;
    width: 35px;
    height: 71px;
    top: 115px;
    z-index: 10;
    right: 10px;
}

.index-banner .next .arrow {
    display: none;
    position: absolute;
    background: url(../images/indexhome-8.png) no-repeat -45px 0;
    width: 35px;
    height: 71px;
    top: 115px;
    z-index: 10;
    left: 10px;
}
